<DOCTYPE!>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/styles.css" >
        <title></title>
    </head>
    <body>
        <div id="__next">
        <div data-rk="">
            <header class="css-101spyg">Gregory Sanon Jr.</header>
           
            <p class="chakra-text css-0">Software Developer/Engineer</p>
           </div>

           <div class="css-1vhduvi"><h2 class="chakra-heading css-f48c4t">About</h2>
            <p class="chakra-text css-0">Hello. I'm Greg. Using my diverse background, I enjoy building dynamic, creative
                 products from start to finish.<br> 
                Focused on developing intuitive experiences that constantly grow and improve, 
                using my diverse background and skill sets.<br> 
                I’m an emerging software engineer/developer  with recent certification through Harvard’s<br> 
                comprehensive core coding course, Harvard CS50, and a rich background in technical, <br>
                problem-solving, and community health and service experience. <br>
                Including work as a carpenter, EMT, and massage therapist. <br>
                I’m an analytical thinker and active collaborator <br>
                with strong problem-solving skills, excellent attention to detail, <br>
                a knack for learning new skills and an appetite for challenge.<br>
                 My persistence, patience, flexibility, and resilience are an asset to any team I’m a part of,<br> 
                 alongside my ability to think algorithmically and solve programming problems efficiently.</p></div>
                <div class="css-1vhduvi"><div class="css-1o42c8k">
                        <div class="css-zy08ml"><p class="chakra-text css-y83l2k">2023</p>
                    </div>
                    
                    
                    <h2 class="chakra-heading css-jtc8nn">Projects</h2>
                    <div class="css-1o42c8k"><div class="css-zy08ml">
                        <p class="chakra-text css-y83l2k">Ongoing</p>
                    </div><div class="css-14l6pud">
                        
                        <p class="chakra-text css-g5qhb2">Work on The slow-center webpage, from scratch to finsih.</p>
                        <p class="chakra-text css-y83l2k">Pyhton • Flask • HTML • CSS • Javascript • AWS</p>
                    </div><div class="css-14l6pud">
                        
                         <div class="css-1o42c8k"><div class="css-zy08ml">
                        <a class="chakra-heading css-u14vgh" href="https://python-flask-webapp-slowcenter.azurewebsites.net/"><p class="chakra-text css-y83l2k">Slow Center</p><!-- -->
                        </a>
                        </div>
                        <div>
                            <h2 class="chakra-heading css-jtc8nn">2D Game</h2>
                        <a class="chakra-heading css-u14vgh"  href="https://gedezou.itch.io/18783kgc" ><p class="chakra-text css-g5qhb2">My version of Flappy Bird</p><!-- -->
                        </a>
                    </div>
                        
                        <div>
                            <h2 class="chakra-heading css-jtc8nn">3D Game</h2>
                       <p alt="3D Game" src="#" class="chakra-image css-1viek8v">Breath <br> Coming Soon</p>
                        </div>
                        
                        <p class="chakra-text css-y83l2k"></p>
                        
                    </div></div>
                    
                    </div>
                    <h2 class="chakra-heading css-16locuo">Work Experience &amp; Education </h2>
                    <div class="css-1o42c8k"><div class="css-zy08ml">
                        <p class="chakra-text css-y83l2k">2015 - present</p></div><div class="css-1o42c8k"><div class="css-zy08ml">
                    <p class="chakra-text css-y83l2k">2022 - 2023</p></div
                    ><div class="css-14l6pud">
                        <a class="chakra-heading css-u14vgh" href="https://cs50.harvard.edu/extension/2022/fall/weeks/1/">Cs50  Computer science &amp; AppAcademy course <!-- -->
                           </a>
                        <p class="chakra-text css-g5qhb2">Collaborated closely with others to learn C. Source Code. Machine Code.
                            <br> Compiler. Correctness, Design, Style. Visual Studio Code. Syntax Highlighting. 
                            <br>Escape Sequences. Header Files. Libraries. Manual Pages. Types. Conditionals. Variables. Loops. Linux. 
                            <br>Graphical User Interface (GUI). Command-Line Interface (CLI). Constants. Comments. Pseudocode. 
                            <br>Operators. Integer Overflow. Floating-Point Imprecision.<br>
                            Python, SQL, Flask, Preprocessing. Compiling. Assembling. Linking. Debugging. Arrays. Strings. 
                            <br>Command-Line Arguments. 
                        Pointers and abstract data types and More.</p>
                        <p class="chakra-text css-y83l2k">C • Python • Flask • javascript • HTML • CSS </p>
                    </div></div>
                    <div class="css-1o42c8k"><div class="css-zy08ml">
                        <p class="chakra-text css-y83l2k">2012 – 2023</p>
                    </div>
                        <div class="css-14l6pud"><a class="chakra-heading css-u14vgh">Carpentry<!-- --></a>
                        <p class="chakra-text css-g5qhb2"> Problem solving with others in a fast paced environment 
                            <br>drawing heavily on technical, visual, and mathematical skills to ensure precision and structural soundness of work
                            <br>Collaborating with others in order to do jobs requiring many hands<br>
                            Responsible for helping build houses from the ground up, from foundation to roof — framing, 
                            <br>reading blueprints, insulating, roofing, siding and plastering
                             </p>
                        <p class="chakra-text css-y83l2k">Critical thinking • problem solving • Teamwork • communication</p>
                    </div></div>
                    <p class="chakra-text css-y83l2k">2015 - present</p></div><div class="css-1o42c8k"><div class="css-zy08ml">
                        <div class="css-14l6pud"><a class="chakra-heading css-u14vgh">Massage Therapist <!-- -->
                        </a>
                        <p class="chakra-text css-g5qhb2"> Utilize skills and knowledge around anatomy, physiology and biology  <br>
                            Responsible for outreach and bringing in new clients, scheduling, 
                            <br>customer satisfaction and creating a healing atmosphere,
                            keeping up to date with knowledge in Reflexology, Swedish-massage, 
                            <br>Reiki, Cranial-sacral, Trigger Point Therapy<br>
                            Providing a safe space and healing service
                            </p>
                            <p class="chakra-text css-y83l2k"> Business Developement • Health Awareness • Health Service Provider•  </p>
                    </div>
                </div>
                <p class="chakra-text css-y83l2k">2018 - 2019</p></div><div class="css-1o42c8k"><div class="css-zy08ml">
                    <div class="css-14l6pud"><a class="chakra-heading css-u14vgh">Emergency Medical Technecian <!-- -->
                    </a>
                    <p class="chakra-text css-g5qhb2">Responsible for patient's safety, transportation and wellbeing in emergency situations;<br> 
                        routinely adhered to strict escalation protocols in managing emergency response<br>
                        Making high stakes decisions calmly, collectedly and decisively under pressure<br>
                        Understanding how to ensure my own safety and that of others in high tension, <br>
                        high risk environments. Certified in CPR. <br>
                        Clear communication skills essential to success and safety in this role
                        
                        </p>
                        <p class="chakra-text css-y83l2k"> Team Work • Perform  efficiently in high stress environemnt • First Responder • BLS </p>
                </div>
                    

                    </div>
                    
                
            </div><h2 class="chakra-heading css-jtc8nn">Links</h2>
                <div class="css-129a06e">
                    <div class="css-zy08ml">
                        <a class="chakra-heading css-u14vgh" href="https://github.com/Gedezou/Slow-Center"><p class="chakra-text css-y83l2k">Github</p><!-- -->
                    </div>
                    <div class="css-14l6pud">
                        </a>
                    </div>
                </div><a class="chakra-heading css-u14vgh" href="https://www.linkedin.com/in/gregory-sanon-199169294/">
                    <p class="chakra-text css-y83l2k">LinkedIn</p></a>
                    <div class="css-zy08ml">
                
                    
                    <div class="css-129a06e">
                </div>
                </div>
                    </a></div></div><div class="css-129a06e">
                        <div class="css-zy08ml">
                            <a class="chakra-heading css-u14vgh" href="https://www.facebook.com/gjsanon"> 
                                <p class="chakra-text css-y83l2k">Facebook</p>
                           
                        </div><div class="css-14l6pud">
                            
                                
            </a></div></div></div></div></div>

        
        
    </body>


</html>
