<!DOCTYPE>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/style.scss" >
        <link rel="javascript" href="static/script.js">
        <script src="https:kit.fontawesome.com/a076d05399.js"></script>
      </head>
   
    <body>

<div class="Floral">
    <div class="actor">Software engineer/developer</div>
    <div class="actor"></div>
    <div class="actor"></div>
    <div class="actor"></div>
    <div class="actor"></div>
  </div>
 
  <nav>
    <input class="sticky" type="checkbox" id="check">
    <label class="sticky" for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
<label class="logo"></label>
<ul>
  <li><a href="#">home</a></li>
  <li><a href="/about.html">About Me</a></li>
  <a class="h3" href="/links.html"><br><br><h2 >Software engineer/developer</h2></a>
      <script src="static/script.js"></script>
    </ul>
  </nav>
</div>
  <section>
  </section>
  

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a1 class="gede" img src="static/Gedepic.jpg" > <br><br><br><br><br>

 <p class="button" > Gregory Sanon Jr.</a> </p> </div></a1>


     
  
   

</body>
    </html>
