<DOCTYPE!>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https:kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="static/stylez.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        
    </head>
    
    <body>
    <div><h2 class="chakra-heading css-jtc8nn">Links</h2>
    
    </div><div>
            <h2 class="chakra-heading css-jtc8nn">Projects</h2>
        <a class="chakra-heading css-u14vgh"  href="https://gedezou.itch.io/18783kgc" ><p class="chakra-text css-g5qhb2">My version of Flappy Bird</p><!-- -->
        </a>
        <div class="css-1o42c8k"><div class="css-zy08ml">
        <a class="chakra-heading css-u14vgh" href="https://python-flask-webapp-slowcenter.azurewebsites.net/"><p class="chakra-text css-y83l2k">Slow Center</p><!-- -->
        </a>
        </div>
            <a class="chakra-heading css-u14vgh" href="https://github.com/Gedezou/Slow-Center"><p class="chakra-text css-y83l2k">Github</p><!-- -->
        </div>
        <div class="css-14l6pud">
            </a>
        </div>
    <div><h2 class="chakra-heading css-jtc8nn">Social Media</h2>
        <a class="chakra-heading css-u14vgh" href="https://www.linkedin.com/in/gregory-sanon-199169294/">
        <p class="chakra-text css-y83l2k">LinkedIn</p></a>
        <div class="css-zy08ml">
    
    </div></div></div><div class="css-129a06e">
            <div class="css-zy08ml">
                <a class="chakra-heading css-u14vgh" href="https://www.facebook.com/gjsanon"> 
                    <p class="chakra-text css-y83l2k">Facebook</p>
        
    </div>
    
        
    </body>


</html>
